// @import url('bootstrap/dist/css/bootstrap.css');
// @import url('bootstrap/scss/bootstrap.scss');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;300&display=swap');
$text-color: #91ccec;
$background-light: #47C8FF;
$background-dark: #005c8d;
$dark-color: #003c5c;
$background: #53B6FE;
$background-image_blured: url('../Images/backdround_blured2.jpg');
$background-image: url('../Images/background2.jpg');
$margin-size: 12px;
$font-size: 18px;
$link-color: #d7f6ff;
$text-light: #bff1ff;
$text-danger: #DB1B1B;
$input-color: #dbf7ff;
$success-color: #53F96D;

* {
    padding: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .5px;
}
body {
    
    background: $background ;
    color:$text-color;
    .mainPage {
        color: white;
        padding: 0 40px;
    }
    .staff {
        $news-background: #158BF8;
        $text-color: #EAEAEA;
        padding: 0 40px;
        color: white;
        .news {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            .news__block {
                display: flex;
                flex-direction: column;
                background-color: $news-background;
                padding: 2px 25px;
                border-radius: 5px;
                margin-bottom: 25px;
                max-width: min-content;
                height: max-content;
                margin: 0 0 20px 0;
                .block__title {
                    text-align: center;
                    font-size: 20px;
                    margin: 25px 0 5px 0;
                    color: $text-color;
                }
                .block__description {
                    color: $text-color;
                }
                .block__author {
                    color: rgba($text-color,0.8);
                    text-align: right;
                }
                .block__date {
                    margin-top: 0;
                    color: rgba($text-color,0.8);
                    text-align: right;
                }
                .block__image {
                    width: 40vh;
                    border-radius: 5px;
                }
            }
        }
    }
    .admin {
        $table-background: #27BEFF;
        $success-color: #00CA2C;
        $background: #00A7EF;
        padding: 20px 40px;
        background: $background;
        .admin__title {
            color: white;
            font-size: 23px;
        }
        .table__description {
            display: flex;
            align-items: center;
            font-size: 24px;
            justify-content: space-between;            
            color: white;
            .admin__button {
                border: 2px solid $background;
                border-radius: 10px;
                padding: 11px 14px;
                background-color: $background-light;
                color: white;
                cursor: pointer;
                transition: .4s;
                text-decoration: none;
                font-size: $font-size;
                &:hover {
                    background-color: $background;
                    border: 2px solid $background-light;
                    color: $text-light
                }
            }
        }
        .table {
            $fone-size: 24px;
            text-align: center;
            border-collapse: collapse;
            background: $table-background;
            width: 100%;
            .table__head{
                cursor: pointer;
                font-size: $fone-size+2px;
                color: white;
                th {
                    padding: 19px 30px;
                    border-bottom: 3px solid rgba($background-dark,0.3);
                    &:first-child {
                        padding: 12px 8px;
                    }
                }
            }
            .table__body {
                font-size: $fone-size;
                color: $text-light;
                td {
                    padding: 10px 30px;
                    border-bottom: 2px solid $background-light;
                    &:first-child {
                        padding: 12px 8px;
                    }
                }
            }
            .table__delete {
                border: 2px solid $text-danger;
                border-radius: 4px;
                padding: 9px 10px;
                background-color: $text-danger;
                color: $text-light;
                cursor: pointer;
                transition: .4s;
                font-size: $fone-size;
                margin-right: $fone-size;
                &:hover {
                    background-color: $table-background;
                    border: 2px solid $text-danger;
                    color: white;
                }
            }
            .table__update {
                border: 2px solid $success-color;
                border-radius: 4px;
                padding: 9px 10px;
                background-color: $success-color;
                color: white;
                cursor: pointer;
                transition: .4s;
                text-decoration: none;
                &:hover {
                    background-color: $table-background;
                    border: 2px solid $success-color;
                }
            }
        }
    }
    .header {
        $background: #3C83ED;
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $background;
            padding: 10px 40px;
            .navbar__brand {
                font-size: 30px;
                color: #ffffff;
                text-decoration: none;
            }
            .ul__links {
                width: 24em;
            }
            .navbar__ul {
                list-style-type: none;
                display: flex;
                justify-content: space-between;
                .navbar__item {
                    padding-left: 13px;
                    .navbar__link {
                        font-size: 18px;
                        text-decoration: none;
                        transition: .5s;
                        color: $link-color;
                        &:hover {
                            text-shadow: 0 0 50px black;
                        }
                    }
                }
            }
        }
    }
    .loginForm {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        color: white;
        height: 90vh;
        .loginForm__title {
            font-size: 53px;
            color: white;
        }
        .loginForm__div {
            display: flex;
            flex-direction: column;
            margin-top: $margin-size;
            margin-bottom: $margin-size;
            .loginForm__label {
                margin-bottom: $margin-size;
                font-size: $font-size;
            }
            .loginForm__input {
                border: 1px solid $text-light;
                border-radius: 5px;
                padding: 7px 10px;
                font-size: $font-size;
                background-color: $input-color;
                width: 300px;
            }
        }
        .loginForm__button {
            margin-top: $margin-size;
            border: 1px solid $background-light;
            border-radius: 5px;
            background-color: $background-light;
            padding: 7px 15px;
            color: white;
            font-size: $font-size;
            cursor: pointer;
            transition: .55s;
            font-weight: 500;
            width: 100%;
            &:hover {
                background-color: rgba($background,0 );
                border: 1px solid $text-color;
            }
        }
    }
    .createUpdateForm {
        color: white;
        $fone-size: 20px;
        display: flex;
        flex-direction: column;
        padding: 10px 540px;
        .createUpdateForm__title {
            font-size: 45px;
        }
        .createUpdateForm__label {
            font-size: $fone-size;
            margin-top: $margin-size;
            margin-bottom: $margin-size;
        }
        .createUpdateForm__input, 
        .createUpdateForm__select {
            border: 1px solid $text-light;
            border-radius: 10px;
            padding: 7px 10px;
            font-size: $font-size+4px;
            background-color:white;
            color: rgb(122, 122, 122);
        }
        .createUpdateForm__buttons {
            display: flex;
            .createUpdateForm__button {
                font-size: $fone-size +2px;
                margin-top: $margin-size;
                border: 1px solid $text-color;
                border-radius: 10px;
                padding: 7px 15px;
                font-size: $font-size;
                cursor: pointer;
                transition: .55s;
                font-weight: 500;
                width: 100%;
                text-decoration: none;
                text-align: center;
            }
            .button__save {
                color:black;
                background-color: $success-color;
                margin-right: 10px;
                &:hover {
                    color: $success-color;
                    border-color: $success-color;
                    background-color:rgba(black,0)
                }
            }
            .button__back {
                margin-left: 10px;
                color: $background-dark;
                background-color: $input-color;
                &:hover {
                    background-color:rgba(black,0);
                    color: $input-color;
                    border-color: $input-color;
                }
            }
        }
    }
    .apiTest {
        margin: 0 40px;
        color: white;
        .apiTest__title {
            font-size: 48px;
        }
        .apiTest__list {
            list-style-type: none;
            .apiTest__item {
                font-size: 25px;
                margin-top: 30px;
            }
        }
    }
}